.question-background {
	text-align: left;
	background-color: rgba(152, 210, 255, 0.398);
	padding: 1em;
	margin: 2em 2em;
	border-radius: 25px;
	max-width: 50%;
}

.choice {
	width: 80%;
	display: inline-block !important;
}

#quiz-name, #no-questions{
	text-align: center;
}

label {
	margin-left: 1em;
	vertical-align: middle;
}

.hidden {
	display: none !important;
}

#btn-submit {
	margin-left: 3vw;
}

.btn-info {
	margin: 1em 0 1em 1em;
}